.job {
  transition: 0.5s;
  margin: 1vw 2vw;
  border: none;
}

.job:hover {
  transform: scale(1.1);
  transition: 0.5;
  background-color: #c5c5c5;
}

@media screen and (max-width: 768px) {

  .job:hover {
    transform: scale(1);
    transition: 0.5s;
    background-color: #c5c5c5;
  }
}
